
p{ 
    color: blueviolet;background-color: aqua;
    
}
h1{ color: rgb(189, 109, 12);background-color: rgb(19, 49, 39);
}
h4{ color: blueviolet;background-color: rgb(7, 7, 48);
}
h5{ color: black; background-color: antiquewhite;
}